# ==============================
# Node Modules
# ==============================
node_modules/

# ==============================
# Environment Variables
# ==============================
.env
.env.*

# ==============================
# Logs
# ==============================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# Build Output
# ==============================
dist/
build/

# ==============================
# Database (SQLite kalau pakai)
# ==============================
*.sqlite
*.sqlite3

# ==============================
# Sequelize
# ==============================
migrations/*.js.map
seeders/*.js.map

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================
.vscode/
.idea/